
<!--Footer med infomation och kontakt-->

 <footer>
    <!--Adress och kontakt-->
    <div class="contacts">
      <p><strong>Adress:</strong></p>
      <p>Ohara University, Ohara Campus<br>Archive Avenue 7, 104 00 Ohara District</p>
    </div>

    <!--Kontakt-->
    <div>
      <p><strong>Kontakt:</strong></p>
      <p>Telefon: +47 00 000 000</p>
      <p>E-post: contact@oharauni.com</p>
    </div>

    <!--GDPR och tillgänglighet-->
    <div>
      <p><strong>Privacy och tillgänglighet:</strong></p>
      <p>Tillgänglighetsredogörelse</p>
      <p>Integritetspolicy</p>
    </div>

  </footer>