
<!--Header. Importeras till huvudkomponent/huvudsida-->
<header class="navbar">

  <div class="logo">
    SKOALNS NAMN- BYT
  </div>

  <!--Navigationsmeny-->
  <nav>
    <a routerLink="/" routerLinkActive="active">Hem</a>
    <a routerLink="/courses" routerLinkActive="active">Kurser</a>
    <!--Länk till sida för Mina kurser. Visar även antal kurser och antal poäng som redan finns tillagda-->
    <a routerLink="/mycourses" routerLinkActive="active">Mina kurser ({{ courseCount() }}st , {{ totalPoints() }} HP)</a>
  </nav>

</header>