
/*Placering av innehåll*/

.notfound-page {
    /*marginal mot navbar*/
    padding-top: 3rem;
    padding: 2rem;

    /*Huvudrubrik*/
    h1 {
        padding-top: 1rem;
        margin-bottom: 2rem;
    }
}
