/*STYLING FÖR STARTSIDA*/


.hero {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.hero-content {
    max-width: 700px;
}

.subtitle {
    color: #38bdf8;
    font-weight: 600;
    margin-bottom: 1rem;
}

h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.description {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #cbd5e1;
    margin-bottom: 2rem;
}

.homepage-btn {
    padding: 1rem 2rem;
    background: #38bdf8;
    color: #0f172a;
    border-radius: 0.8rem;
    font-weight: 700;
    transition: 0.2s ease;
}

/*Anpassning för mindre skärm*/

@media (max-width: 700px) {

    .hero {
        /*Marginal mot nabar*/
        padding-bottom: 70px;
    }
}