/*STYLING FÖR STARTSIDA*/


/*Wrapper för hela startsidans innehåll/hero*/
/*bakgrundsbild som täcker sida med overlay*/
.hero {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    min-height: calc(100vh - 80px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/skola.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Wrapper för huvudrubrik och textinnehåll*/
.hero-text {
    max-width: 65ch;
    width: 100%;
    padding-top: 8rem;
    padding-left: 5rem;
}

/*Huvudrubrik*/
h1 {
    font-size: 3rem;
    line-height: 1.1;
    margin-bottom: 2rem;
}
/*Besrivningstext*/
.description {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #cbd5e1;
    margin-bottom: 2rem;
}

/*Länk till kurser*/
.homepage-btn {
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
    background: #38bdf8;
    color: #0f172a;
    border-radius: 0.8rem;
    font-size: 1.3rem;
    font-weight: 700;
    transition: 0.2s ease;
}

/*Anpassning för mindre skärm*/

@media (max-width: 750px) {


    .hero {
        /*Marginal mot nabar*/
        padding-bottom: 85px;

        width: 100%;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .hero-text {
        max-width: 65ch;
        width: 100%;
        padding: 1rem;
    }


    h1 {
        font-size: 1.6rem;
    }



}