/* You can add global styles to this file, and also import other style files */

/*Globala inställningar för färg, font och layout*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: auto;
    margin: 0;
}



html {
    background-color: rgb(11, 12, 19);
}


body {
    min-height: 100vh;
    max-width: 1700px;
    margin: 0 auto;
    background-color: rgb(15, 23, 42);
    color: rgb(248, 250, 252);
    font-family: "Inter", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}


h1 {
    font-family: "Montserrat", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: rgb(56, 189, 248);
}

/*klass för main*/
.page {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding-top: 7rem;
    background-color: rgb(15, 23, 42);
}

/*Anpassning för mindre skärm*/

@media (max-width: 700px) {

    body {
        font-size: 0.8rem;
    }
}